<div style="font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;" ng-controller="MainpageController">
  <h1 style="margin: 20px">Carte des photos autour de moi</h1>

  <button style="margin: 20px; display: inline" class="btn btn-secondary" ng-click="getLocation()">Chercher des photos autour de moi !</button>
	<p style="display: inline">Longitude : </p>
	<input style="display: inline" class="w3-input w3-animate-input" type="text" ng-model="longitude">
	<p style="display: inline">Latitude : </p>
	<input style="display: inline" class="w3-input w3-animate-input" type="text" ng-model="latitude">
  <button style="margin: 20px; display: inline" class="btn btn-secondary" ng-click="simulateLocation()">Simuler !</button>
	
  <div id="map" style="width: auto; height: 500px;"></div>


</div>